@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    // font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}