.header_wrapper {
    height: 5rem;
    top: 0;
    position: sticky;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    background-color: darkgray;

}

.header-content {
    max-width: 80%;
    width: 100%;

    display: flex;
    align-items: center;
}

.header-title {
    font-size: 1.4rem;
    display: inline-block;
    font-weight: 500;
}

.header-logo {
    width: 2rem;
    margin-right: 3px;
}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;

}